.container {
  min-height: 100%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #C70039;
  color: #FFF9CA;
  text-align: center;
  line-height: 60px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.header {
  background-color: #C70039;
  color: #fff;
}

.navbar-nav {
  margin-right: auto;
}

.nav-link {
  color: white !important;
}

body, html {
  margin: 0;
  padding: 0;
  height: 75%;
}

.content {
  padding-bottom: 60px;
}

#main {
  padding: 20px;
}

.inner-page {
  background-color: #FCF9BE;
  padding: 20px;
}

.post h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  margin-bottom: 20px;
}

.read-more:hover {
  background-color: #0056b3;
}

.read-more {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .inner-page {
    padding: 10px;
  }
